@media (min-width:576px) {
  .image {
    padding-left: 50px;
  }
  .about {
    padding-left: 50px;
  }
 p {
    padding-right: 100px;
  }
  .button {
    padding-bottom: 80px;
  }
  .btn {
    padding: 20px 16px 21px 16px;
  }
}

/* 768PX */
@media (min-width:768px) {
  .side-bar {
    display: block;
  }
  .main-container {
    background: radial-gradient(176.81% 129.58% at 50% 119.06%, #585858 0%, #000000 69.45%);
  }
  .inner {
    display: flex;
  }

  .main-section {
    padding: 10% 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .image {
    flex: 50%;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .image img {
    width: 90%;
  }
  .about-wrapper {
    flex: 50%;
    display: flex;
  }

  /* about */
  .about {
    padding-left: 38px;
  }
  h1 {
    font-size: 11vw;
  }
  h2 {
    font-size: 4vw;
  }
  h2.title {
    width: fit-content;
    position: relative;
  }
  h2.title > span {
    position: absolute;
    transform: translate(-60%, -50%);
    top: 0;
    left: 100%;
  }
  p {
    padding-right: 6.5vw;
    font-size: 1.4vw;
  }
  .button {
    padding-left: 0;
    padding-top: 95px;
    padding-bottom: 30px;
  }
  .button .btn span {
    position: absolute;
  }
  .circle-h2 {
    width: 90px;
    height: 90px;

    border-radius: 100%;
    border: 1px solid rgba(239, 230, 230, 0.02);
    filter: blur(2px);
    background: linear-gradient(0deg, rgba(239, 230, 230, 0.04), rgba(239, 230, 230, 0.01)), linear-gradient(0deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.01));
  }
  .button a {
    position: relative;
  }
  .circle-wrapper-btn {
    left: 122px;
    top: -65px;
    pointer-events: none;
  }
  .circle-btn {
    width: 90px;
    height: 90px;

    pointer-events: none;
    background: rgba(153, 153, 153, 0.15);
    backdrop-filter: blur(16px);
    border-radius: 100%;
    border-image-source: radial-gradient(351.35% 351.35% at -85.14% 140.54%, #9A8B8B 0%, rgba(0, 0, 0, 0) 100%);
  }

  /* side-bar */
  .side-bar {
    width: 7%;
    max-width: 120px;
    padding: 10px;
    background: #A7A4A4;
  }
  .logo-side-bar img {
    display: block;
    max-width: 100%;
    padding-top: 10px;
    margin: auto;
  }
  .title-side-bar  {
    transform: rotate(90.58deg);
    white-space: nowrap;
    margin-top: 47px;
  }
  h6 {
    font-weight: 600;
    font-size: 1.4vw;
    line-height: 24px;
    letter-spacing: 1.745em;
    color: #333232;
    text-transform: uppercase;
  }
}

/* 1200PX */
@media (min-width:1200px) {
.button {
  padding-top: 125px;
  }
  .circle-h2 {
    width: 148px;
    height: 148px;
  }
  .circle-wrapper-btn {
    left: 131px;
    top: -96px;
  }
  .circle-btn {
    width: 148px;
    height: 148px;
  }
}

/*1600PX*/
@media (min-width:1600px) {
  .image img {
    width: 83%;
  }

  h1 {
    font-size: 162.859px;
    line-height: 195px;
  }
  h2 {
    font-size: 58.86px;
    line-height: 71px;
  }
  p {
    font-size: 15px;
    line-height: 18px;
    padding-right: 120px;
  }

  .side-bar {
    width: 8%;
  }
  .logo-side-bar img {
    width: 99px;
    padding-top: 19px;
  }
  .title-side-bar {
    margin-top: 100px;
  }
  h6 {
    font-size: 21px;
  }

  .main-section {
    padding: 234px 0 166px 0;
  }
}
