/* 576PX */
@media (min-width:576px) {
  .image, .about {
    padding-left: 50px;
  }
}

/* 768PX */
@media (min-width:768px) {
  .main-container {
    background: radial-gradient(176.81% 129.58% at 50% 119.06%, #585858 0%, #000000 69.45%);
  }
  .inner {
    display: flex;
  }

  .main-section {
    padding: 14.7vw 0 10.5vw 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  /* image */
  .image {
    flex: 50%;
    padding: 0;
    display: flex;
    align-items: center;
  }
  .image img {
    width: 90%;
  }

  /* about */
  .about-wrapper {
    flex: 50%;
    display: flex;
  }
  .about {
    padding-left: 2.4vw;
  }
  h1 {
    font-size: 11vw;
  }
  h2 {
    font-size: 4vw;
  }
  h2.title {
    width: fit-content;
    position: relative;
  }
  h2.title > span {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0;
    left: 95%;
  }
  p {
    padding-top: 3.2vw;
    padding-right: 6.5vw;
    font-size: 1.3vw;
  }
  .circle-h2 {
    width: 9.25vw;
    height: 9.25vw;

    border-radius: 100%;
    border: 1px solid rgba(239, 230, 230, 0.02);
    filter: blur(2px);
    background: linear-gradient(0deg, rgba(239, 230, 230, 0.04), rgba(239, 230, 230, 0.01)), linear-gradient(0deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.01));
  }
  .button {
    padding-left: 0;
    padding-top: 8.1vw;
    padding-bottom: 30px;
  }
  .btn {
    padding: 1.35vw 1.2vw 1.4vw 1.2vw;
    font-size: 1.55vw;
    border-radius: 1.7vw;
  }
  .circle-wrapper-btn {
    left: 8.4vw;
    top: -6vw;
    pointer-events: none;
  }
  .circle-btn {
    width: 9.25vw;
    height: 9.25vw;

    background: rgba(153, 153, 153, 0.15);
    backdrop-filter: blur(16px);
    border-radius: 100%;
    border-image-source: radial-gradient(351.35% 351.35% at -85.14% 140.54%, #9A8B8B 0%, rgba(0, 0, 0, 0) 100%);
  }

  /* side-bar */
  .side-bar {
    display: block;
    width: 7.6vw;
    padding: 0.7vw;
    max-width: none;
    background: #A7A4A4;
  }
  .logo-side-bar img {
    display: block;
    width: 6.2vw;
    padding-top: 19px;
    margin: auto;
  }
  .title-side-bar  {
    transform: rotate(90.58deg);
    white-space: nowrap;
    margin-top: 5vw;
  }
  h6 {
    font-weight: 600;
    font-size: 1.55vw;
    line-height: 24px;
    letter-spacing: 1.745em;
    color: #333232;
    text-transform: uppercase;
  }
}

/* 1600PX */
@media (min-width:1600px) {
  .image img {
    width: 84%;
  }
  h1 {
    font-size: 10.15vw;
    line-height: 12.2vw;
  }
  h2 {
    font-size: 3.7vw;
    line-height: 4.5vw;
  }
  h2.title > span {
  left: 37vw;
  }
  p {
    font-size: 0.95vw;
    line-height: 1.15vw;
    padding-right: 10vw;
  }
  h6 {
    font-size: 1.35vw;
  }
}
