@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;0,900;1,500&display=swap');

:root {
  --barlow: 'Barlow', sans-serif;
  --white: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--barlow);
}
h1, h2 {
  color: var(--white);
}
h2 {
  font-style: italic;
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.3;
  letter-spacing: 0.165em;
  text-transform: uppercase;
}

.main-container {
  max-width: 1600px;
  background: radial-gradient(176.81% 129.58% at 94% 162.06%, #585858 0%, #000000 69.45%);
}

/* side-bar */
.side-bar {
  display: none;
}

/* image air-max */
.image {
  padding-top: 82px;
  padding-left: 15px;
  width: 95%;
}
.image img {
  width: 100%;
  transition: all ease 1s;
}

 /* about */
.about {
  padding-left: 4vw;
}
h1 {
  font-weight: 900;
  font-size: 21vw;
  line-height: 1.1;
  text-transform: uppercase;
  font-style: italic;
}
h2.title {
  padding-top: 12px;
}
h2.price {
  padding-top: 12px;
}
p {
  font-weight: 500;
  font-size: 3.4vw;
  line-height: 1.1;
  padding-top: 16px;
  padding-right: 50px;
  color: rgba(88, 92, 121, 0.89);
  text-transform: uppercase;
  font-style: italic;
}
.button {
  padding-left: 5px;
  padding-top: 80px;
  padding-bottom: 50px;
}
.btn {
  color: #130505;
  background-color: #979090;
  border-radius: 23px;
  padding: 14px 9px 15px 9px;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  text-decoration: none;
  transition: all ease 0.3s;
}
.btn span {
  position: absolute;
}

/* hovers */
@media (hover: hover) {
  .about a:hover {
    background-color: #dc3545;
  }
  .image img:hover {
    transform: rotate(-5deg) scale(1.08);
    cursor: pointer;
  }
}

